<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="inMemoryStudentDao" class="ttl.larku.dao.inmemory.InMemoryStudentDAO"/>

    <!--
    An instance of this bean gets created only when it is being referenced or it is being get from application.
    Everytime we refer this bean a new instance is created.
    -->
    <bean id="inMemoryStudentDao_always_new" class="ttl.larku.dao.inmemory.InMemoryStudentDAO" scope="prototype"/>

    <bean id="studentService" class="ttl.larku.service.StudentService">
        <property name="studentDAO" ref="inMemoryStudentDao"/>
    </bean>
    <bean id="studentService2" class="ttl.larku.service.StudentService">
        <property name="studentDAO" ref="inMemoryStudentDao"/>
    </bean>

    <!--
    This bean only gets instantiated if a getBean is called for this id from the application.
    -->
    <bean id="studentService_lazy_init" class="ttl.larku.service.StudentService" lazy-init="true">
        <property name="studentDAO" ref="inMemoryStudentDao_always_new"/>
    </bean>


</beans>
